/*==============================================================================
  Title       : NavigationStyle 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Navigation style.
  Apply       : navbar/breadcrumbs.thtml, navbar/breadcrumb_link.thtml,
                navbar/menuitem.thtml, navbar/navbar.thtml
==============================================================================*/



/*--------------------------------------
  Breadcrumbs List
--------------------------------------*/

ul.navbar-breadcrumbs {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar-breadcrumbs li {
  display: inline;
}

ul.navbar-breadcrumbs li a {
  margin: 0 8px;
}



/*--------------------------------------
  Navigation

 (most styling here is adapted from jQuery UI)
--------------------------------------*/

#navcontainer {
    position: relative;
    padding: .2em;
    zoom: 1;
}

#navcontainer ul {
}

#navcontainer ul li {
    list-style: none;
    float: left;
    background: #f5f5f5;
}

#navcontainer ul li a {
    padding: 0;
    white-space: nowrap;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    border: 1px solid #cccccc;
    color: #444444;

    margin: 0 .2em 1px 0;
    position: relative;
    top: 1px;

    border-bottom: 1px solid #cccccc;
}

#navcontainer ul li a span {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

#navcontainer ul li a#current {
    border-bottom: none;
    background: #ffffff;
    cursor: text;
    padding-bottom: 1px;
/*
    border: 1px solid #79b7e7;
    background: #f5f8f9 url(jquery_ui/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    margin-bottom: 0;
*/
}

#navcontainer ul li a#current span {
    color: #111111;
}

#navcontainer ul li a:hover {
/* 
    border: 1px solid #aaaaaa;
    background: #eeeeee url(jquery_ui/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #666666;
*/
}
