/*==============================================================================
  Title       : Block Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Left, center and right block CSS files.
  Apply       : header.thtml,
                blockheader.thtml, blockfooter.thtml, blockservices.thtml,
                blockheader-*.thtml, blockfooter-*.thtml
                (leftblocks.thtml, loginform.thtml, listitem.thtml)
==============================================================================*/



/*--------------------------------------
  Common
--------------------------------------*/

div#leftblocks ul,
div#leftblocks ol,
div#rightblocks ul,
div#rightblocks ol {
  padding-{left}: 0;
}



/*--------------------------------------
  List Item
    in Block
--------------------------------------*/

li.listitem {
  margin: 2px 0;
  padding: 2px 0;
  list-style-type: none;
}



/*--------------------------------------
  Message Block
    in system message
--------------------------------------*/

div#centerblocks div.block-message {
margin: 1.2em 0;
padding: 0;
/* border: 1px solid #939490; */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/* -webkit-box-shadow: 0px 0px 4px 1px #aaa; */
-moz-box-shadow: 0px 0px 4px 1px #aaa;
/* box-shadow: 0px 0px 4px 1px #aaa;
background: #eeeeec url("./images/css/bg_message_title.png") repeat-x scroll 0 0; */
}

div#centerblocks div.block-message dl {
  margin: 0;
  padding: 0;
}

/* Title */
div#centerblocks div.block-message dl dt {
  margin: 0;
  padding: 8px;
  color: #222;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  background: #e8e8e8;
}

/* Message */
div#centerblocks div.block-message dl dd {
  margin: 0;
  padding: 8px;
  font-weight: bold;
}



/*--------------------------------------
  Related Block
    Article
--------------------------------------*/

/* Block */
.block-related {
  margin: 0 0 15px 0;
  padding: 15px;
  /* border: 1px solid #ddd; */
  color: #666;
}

/* Block Title */
.block-related h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

/* Block Contents */
.block-related div.block-related-content {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  Center Block
--------------------------------------*/

div#centerblocks {
  margin-bottom: 12px;
}

/* Block */
div#centerblocks .block-center {
  margin: 0 0 15px 0;
  padding: 15px;
  
}

/* Block Title */
div#centerblocks h2,
div#centerblocks h3,
div#centerblocks h4 {
  margin: 0 0 10px 0;
  padding: 0;
}

div#centerblocks .block-center h2 {
  font-size: 125%;
}

div#centerblocks .block-center h3 {
  font-size: 110%;
}

div#centerblocks .block-center h4 {
  font-size: 100%;
}

/* Help Icon */
div#centerblocks h2 img,
div#centerblocks h3 img,
div#centerblocks h4 img {
  vertical-align: middle;
}

/* Block Content */
div#centerblocks .block-center div.block-center-content {
  margin: 0;
  padding: 0;
}

/* Block Content Image */
div#centerblocks .block-center div.block-center-content img {
  max-width:100%;
  height:auto;
}



/*--------------------------------------
  Left Block
--------------------------------------*/

/* Block */
div#leftblocks {
  margin: 0;
  line-height: 21px;
}

div#leftblocks .block-list,
div#leftblocks .block-left {
  margin-bottom: 15px;

  padding: 15px;
  color: #666
}

/* Block Title */
div#leftblocks .block-list h2,
div#leftblocks .block-left h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  color: #222;
}

/* Help Icon */
div#leftblocks .block-list h2 img,
div#leftblocks .block-left h2 img {
  vertical-align: middle;
}

/* Block Content */
div#leftblocks .block-list div.block-list-content,
div#leftblocks .block-left div.block-left-content {
  margin: 0 0 10px 5px;
  padding: 0;
}

div#leftblocks ul {
  margin: 0 0 10px;
}

div#leftblocks ul li {
  margin: 0;
}

/*--------------------------------------
  Right Block
--------------------------------------*/

/* Block */
div#rightblocks {
  line-height: 21px;
}

div#rightblocks .block-left,
div#rightblocks .block-list,
div#rightblocks .block-right {
  width: 268px;
  margin: 10px;
  padding: 0;
  float: {left};
}

/* Block Title */
div#rightblocks .block-list h2,
div#rightblocks .block-right h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  color: #222;
}

/* Help Icon */
div#rightblocks .block-list h2 img,
div#rightblocks .block-right h2 img {
  vertical-align: middle;
}

/* Block Content */
div#rightblocks .block-list div.block-list-content,
div#rightblocks .block-right div.block-right-content {
  margin: 0 0 10px 5px;
  padding: 0;
}

div#rightblocks ul {
  margin: 0 0 10px;
}

div#rightblocks ul li {
  margin: 0 0 0 5px;
}
