/*==============================================================================
  Title       : Form Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Form style.
  Apply       : leftblocks.thtml, loginform.thtml,
                custom-memberlogin.thtml, customlogin-header.thtml, customlogin-footer.thtml
==============================================================================*/



/*--------------------------------------
  Search Form
--------------------------------------*/

/* Block */
div#block-search {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Form */
div#block-search form#searchform div {
  position: relative;
  margin: 0 20px 0 0;
/*  background: transparent url('./images/css/search-{right}.png') no-repeat 0 0;*/
  width: 160px;
  height: 26px;
  line-height: 26px;
  padding: 2px 5px;
  z-index: 3;
}

div#block-search form#searchform div input {
  position: relative;
  border: 0px solid transparent;
  height: 25px;
  background: transparent;
  line-height: 15px;
}

/* Form Input Field */
div#block-search form#searchform div input.text {
  position: absolute;
  z-index: 5;
  float: {left};
  width: 160px;
}

/* Form Button */
div#block-search form#searchform div input.submit {
  position: relative;
  vertical-align: top;
  z-index: 10;
  float: {right};
  width: 30px;
  cursor: pointer;
  background: #fff;
  filter: Alpha(opacity=0);
  opacity: 0;
}

/* Forms (Denim) */

input {
  margin: 2px;
}

input,
select,
textarea {
  font-family: arial, verdana, tahoma, helvetica, sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

select,
input {
  vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 4px;
  outline: none;
  border-radius: 3px;
  font-size: 13px;
  color: #555;
  margin-left: 0; /* rtl */
  margin-right: 3px; /* rtl */
  min-width: 40px;
  line-height: 1.5;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 5px; /* 2 */
  height: 1.2em;
  width: 1.2em
}
input[type="submit"],
  padding: 4px; /* 2 */
  height: 3em;
  min-width: 100px;
}

select {
/*  height: 28px; for theme foundation */
  min-width: 100px;
}

select.multiple,
select[multiple="multiple"] {
  height: auto;
}

option {
  padding-right: 4px;  /* for Firefox */ /* rtl */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #222;
  box-shadow:  0 0 3px rgba(0,0,0,.2);
}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee; /* Old browsers */
  background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: #eee linear-gradient(to bottom, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 9px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  line-height: normal;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd; /* Old browsers */
  background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  background: #ddd linear-gradient(to bottom, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc; /* Old browsers */
  background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
  background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
  background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
  background: #ccc linear-gradient(to bottom, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a.button:link,
a.button:visited {
  color: #444;
}

a.button:hover {
  color: #222;
  text-decoration: none;
}


/* icon */
div#block-search form#searchform div div.icon-search {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  float: {right};
  top: 0;
  left: 130px;
  z-index: 7;
}

/* [[[for Tablet]]] : 520px or 900px */
@media only screen and (min-width: 520px) and (max-width: 900px) {
/* Form SearchBox */
div#block-search form#searchform {
  position: absolute;
  top: 5px;
  {right}: 5px;
  margin: 0;
  padding: 0;
}

/* Form Input Field */
div#block-search form#searchform div input.text {
  background-color: #aaa;
  color: #fff;
  padding: 2px 10px 2px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
/* icon */
div#block-search form#searchform div div.icon-search { color: #f1f1f1; }
}
/* End [[[for Tablet]]] */

/* [[[for Normal]]] : 901px or more */
@media only screen and (min-width: 901px) {
/* Form SearchBox */
div#block-search form#searchform {
  position: absolute;
  top: 5px;
  {right}: 5px;
  margin: 0;
  padding: 0;
}

/* Form Input Field */
div#block-search form#searchform div input.text {
  background-color: #f1f1f1;
  padding: 2px 10px 2px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
/* icon */
div#block-search form#searchform div div.icon-search { color: #5e5e5e; }
}  /* End [[[for Normal]]] */

/* Search Option */
div#block-search form#searchform p {
  margin: 0;
  padding: 0;
}

/* [[[for smartphone]]] : 480px or less */
@media only screen and (max-width: 480px) {

/* Mobile SearchBox */
div#block-search form#searchform {
  display: none;
}
/* Mobile Search Input Form */
div#block-search form#searchform div {
  margin: 0;
  padding: 0;
}
}  /* End [[[for smartphone]]] */


/*--------------------------------------
  Login Form
--------------------------------------*/

/* authentication buttons */
#login_facebook{left:0px;width:141px;}
#login_facebook{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position:0 0;}

#login_twitter{left:0px;width:141px;}
#login_twitter{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -23px;}

#login_linkedin{left:0px;width:141px;}
#login_linkedin{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -44px;}

#login_google{left:0px;width:141px;}
#login_google{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -66px;}

#login_yahoo{left:0px;width:141px;}
#login_yahoo{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -88px;}

#login_microsoft{left:0px;width:141px;}
#login_microsoft{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -110px;}

#login_github{left:0px;width:141px;}
#login_github{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -132px;}

#login_openid{left:0px;width:141px;}
#login_openid{background:url('/images/oauth-login-with-sprite.png') no-repeat; background-position: 0 -154px;}

/* Input sizing */
form#loginform input,
form#loginform select,
form.third-party-login input {
/*  width: 100%; */ /* winkey_ivy */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Form Item */
form#loginform dl {
  margin: 0;
  padding: 0;
}

form#loginform dl dt {
  margin: 0;
  padding: 0;
}

form#loginform dl dd {
  margin: 0;
  padding: 0;
}

form#loginform input.submit {
  height: 38px;
  font-size: 12px;
  margin: 10px 0;
  padding: 4px;
  min-width: 110px;
}

/* Form Option Menu */
form#loginform ul.navi {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
}

form#loginform ul.navi li {
  margin: 0;
  padding: 0;
}

/* Third party login */
form.third-party-login {
  margin: 0.5em 0;
}

form.third-party-login div {
  position: relative;
}

form.third-party-login div img {
  position: absolute;
  {left}: 6px;
  top: 6px;
}

form.third-party-login div input.submit {
  text-indent: 24px;
  font-size: 12px;
  height: 28px;
}

div.third-party-login {
  width: 164px;
}
