/*==============================================================================
  Title       : Basic Layout Style
  Authors     : Hiroron and Geeklog Japanese
  Description : Basic layout style.

smartphone(Mobile) 0-519
  iPhone 320x480
tablet(Tablet) 520 - 900
  iPad   768x1024
othe(Normal) 901-
  1024x1024

  Block Width: 800px以上
         *  Container Width = 976px & 97.6% * all padding 24px(left+right)
         *  Site Width[W] = 976px
         *  Left   Block Width[L]         = 317px (32.4795%)
            * percent(%) = (317 / 976) * 100
         *  Right  Block Width[R]         = 180px
         *  Center Block Width(3 Column ) = [W] - [L] = 643px (65.8811%) = 976px - 317px + left padding 14px + yobi2px
            * percent(%) = (643 / 976) * 100
         *  Center Block Width(2 Column ) = [W] - [L] = 643px (65.8811%) = 976px - 317px + left padding 14px + yobi2px
         *  Center Block Width(1 Column ) = [W] = 976px (100%)

  Apply  : storytext.thtml, storybodytext.thtml
           featuredstorytext.thtml, featuredstorybodytext.thtml

==============================================================================*/

body {
  width: 100%;
  margin: 0 auto;
}

/*--------------------------------------
   Container
    Include All Block Level Element(div#header, div#navigation, div#wrapper, div#footer)
--------------------------------------*/

div#container {
  position: relative;
  max-width: 976px;  /*  Site Width */
  width: 97.6%;
  margin: 0 auto;
  padding: 1.2%;
  text-align: {left};
  background: white;
}


/*--------------------------------------
  Header Container
--------------------------------------*/

#header {
  position: relative;
  margin-bottom: 20px;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
}

#header div#header-content {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
#header a {
  color: #FFFFFF;
}

/*  Site Name */
#header h1.site_name {
  font: 36px/110% Damion,Georgia,"Times New Roman",Times,serif;
  margin: 0;
  padding: 2px 0 6px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

/* Slogan */
#header p.site_slogan {
  color: #eee;
  margin: -5px auto 0;
  padding: 1px 0;
  font-size: 85%;
}

/* Welcome Message */
#header p.welcome_msg {
  margin: 0 auto;
  padding: 2px 0;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 19.7125%;
  max-width: 192px;
  font-size: 85%;
  color: #eee;
}
/* Welcome Message Link */
p.welcome_msg a,
p.welcome_msg a:link,
p.welcome_msg a:visited {
}

p.welcome_msg a:hover,
p.welcome_msg a:focus,
p.welcome_msg a:active {
}

/*--------------------------------------
  Gloval Navigation Container
--------------------------------------*/

#navigation {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  z-index: 100;
}
/* IE7 { */
#searchform .icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f50d;&nbsp;'); }
/* } IE7 */
#searchform .icon-search:before { content: '𯔍'; font-size: 18px; line-height: 18px; } /* '\1f50d' */

/*--------------------------------------
  Breadcrumbs Navigation Container Base
--------------------------------------*/
div#container .breadcrumbs {
  margin: 0 0 15px;
  padding: 6px 0 7px 15px;
  display: block;
  /* border: 1px solid #ddd; */
}


/*--------------------------------------
  Wrapper
    Include contents Block level elements(div#leftblocks, div#centerblocks, div#rightblocks)
--------------------------------------*/

div#container div#wrapper {
  overflow: visible;  /* Adjust floating element */
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Content generated by the float clear */
div#container div#wrapper:before,
div#container div#wrapper:after {
  content: "";
  display: block;
  clear: both;
  height: 1%;
  overflow: hidden;
}

/* Win IE 6(Adjust floating element) { \*/
* html div#container div#wrapper {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6(Adjust floating element) */

/* JavaScript Enabled* 3 Column ( Left Block*  Center Block*  Right Block) Wrapper */
body.left-center-right div#container div#wrapper {
}

/* JavaScript Enabled* 2 Column ( Left Block*  Center Block) Wrapper */
body.left-center div#container div#wrapper {
}

/* JavaScript Enabled* 2 Column ( Center Block*  Right Block) Wrapper */
body.center-right div#container div#wrapper {
}

/* JavaScript Enabled* 1 Column ( Center Block) Wrapper */
body.center div#container div#wrapper {
}

/* JavaScript Disenabled Wrapper */
body.js_off div#container div#wrapper {
}



/*--------------------------------------
   Left Block Container
   display if Left Block is appeared.
--------------------------------------*/

div#container div#wrapper div#leftblocks {
  overflow: auto;
  padding: 0;
}

/* JavaScript Disenabled  Left Block Container */
body.js_off div#container div#wrapper div#leftblocks {
  margin: 0;
}

/*--------------------------------------
   Center Block Container
    div#centerblocks is always display.
--------------------------------------*/

div#container div#wrapper div#centerblocks {
  overflow: visible;
}

div#container div#wrapper div#centerblocks-content {
  padding: 0;
}

/* JavaScript Enabled* 3 Column ( Left Block*  Center Block*  Right Block)  Center Block Container */
body.left-center-right div#container div#wrapper div#centerblocks {
}

/* JavaScript Enabled* 2 Column ( Left Block*  Center Block)  Center Block Container */
body.left-center div#container div#wrapper div#centerblocks {
  border-bottom: 1px solid #888;
}

/* JavaScript Enabled* 2 Column ( Center Block*  Right Block)  Center Block Container */
body.center-right div#container div#wrapper div#centerblocks {
  width: 100%;
  max-width: 976px;  /*  Site All Width[W] -  Right Block Width[R] -  Right Padding -  Left Padding */
}

/* JavaScript Enabled* 1 Column ( Center Block)  Center Block Container */
body.center div#container div#wrapper div#centerblocks {
  width: 100%;
  max-width: 976px;  /*  Center Block Width =  Site All Width[W] -  Right Padding -  Left Padding */
  margin: 0;
  padding: 0;
}

/* JavaScript Disenabled  Center Block Container */
body.js_off div#container div#wrapper div#centerblocks {
  display: inline;  /* Win IE 6(Float Left Right Margin is too wide) */
}



/*--------------------------------------
   Right Block Container
    div#rightblocks display if Right Block is appeared.
--------------------------------------*/

div#container div#wrapper div#rightblocks {
  clear: both;
  margin: 0 0 15px;
  padding: 15px 1.5%;
  /* border: 1px solid #ddd; */
  color: #666;
}
div#container div#wrapper div#rightblocks:before,
div#container div#wrapper div#rightblocks:after {
  display: table;
  content: "";
}

/* JavaScript Disenabled  Right Block Container */
body.js_off div#container div#wrapper div#rightblocks {
  clear: both;
  width: 100%
  max-width: 976px;
}



/*--------------------------------------
   Footer Container
--------------------------------------*/

#footer {
  padding: 2px;
  color: #223;
  font-size: 10px;
  border-top: 1px solid #888;
}

div#container div#footer-content {
  margin: 0 auto 6px;
}

/*  Footer Link */
#footer a,
#footer a:link,
#footer a:visited {
}

#footer a:hover,
#footer a:focus,
#footer a:active {
}

/* Back Top */
#footer p.back-top {
  clear: both;
  margin: 10px auto 15px;
  padding: 0;
}

/* Copyright */
#footer div.copyright {
  margin: 5px 0 10px;
}
#footer div.copyright_notice {
}

#footer div.copyright_notice small {
  font-style: normal;
}


/* Powered by & Page Execution Time */
#footer div.site_info {
  margin: 5px 0 10px;
}

/* Powered by */
#footer .powered_by {
}

/* Page Execution Time */
#footer .execution_textandtime {
}


/*==============================================================================*/
/*==============================================================================*/


/*--------------------------------------
   for Mobile : 519px or less
--------------------------------------*/
@media only screen and (max-width: 519px) {

/*--------------------------------------
  Header Container for Mobile
--------------------------------------*/
#header {
  position: relative;
  background: #5e5e5e; /* Old browsers */
  background: -moz-linear-gradient(top, #8a8a8a 0%, #707070 49%, #5e5e5e 51%, #777777 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Chrome10+,Safari5.1+, iOS 5+ */
  background: -ms-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* IE10+ */
  background: linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* W3C */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  margin-bottom: 20px;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
}

/*  Site Name */
#header h1.site_name {
  text-align: left;
}
/* Slogan */
#header p.site_slogan {
  display: none;
}
/* Welcome Message */
p.welcome_msg {
  display: none;
}

/* Mobile Serch Icon Position */
#block-search {
  position: absolute;
  top: 10px;
  right: 42px;
  z-index: 1000;
}
/* Mobile SearchBox */
#searchform {
  clear: both;
  float: right;
  position: static;
  width: 160px;
  z-index: 1000;
  display: none;
  margin: 3px 0;
  padding: 5px;
  background: #fff !important;
  border: solid 1px #999 !important;

  -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 1px 2px 0 rgba(0,0,0,.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#searchform input#q {
  background: #AAA !important;
  padding: 4px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/*--------------------------------------
  Gloval Navigation Container for Mobile
--------------------------------------*/
/* Mobile Menu Icon Position */
#navigation {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1000;
}
/* IE7 { */
.icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f50d;&nbsp;'); }
.icon-nav { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe005;&nbsp;'); } 
.icon-rss { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe73a;&nbsp;'); }
/* } IE7 */
.icon-search:before { content: '𯔍'; font-size: 18px; line-height: 18px; } /* '\1f50d' */
.icon-nav:before { content: '\e005'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */

/* Mobile Icon */
.mobile-icon-frame {
  position: relative;
  cursor: pointer;
  display: block;
  float: right;
  height: 30px;
  width: 35px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.mobile-icon-frame:after {
  padding: 1px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  z-index: -1;
  background: #3b3b3b;
  background: -moz-linear-gradient(top,  #444444 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  #444444 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #444444 0%,#333333 100%); /* W3C */

  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.4), inset 0 1px rgba(0,0,0,.5), inset 0 -1px rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.4), inset 0 1px rgba(0,0,0,.5), inset 0 -1px rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 0 1px rgba(0,0,0,.4), inset 0 1px rgba(0,0,0,.5), inset 0 -1px rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* Mobile Menu */
#global-nav {
  clear: both;
  float: right;
  position: static;
  width: 160px;
  z-index: 1000;
  display: none;
  margin: 3px 0;
  padding: 10px 5px;
  background: #fff !important;
  border: solid 1px #999 !important;

  -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 1px 2px 0 rgba(0,0,0,.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#global-nav:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 146px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #FFF;
}
/* Mobile Menu Item */
#global-nav li {
  clear: both;
  float: none;
  margin: 5px 0 5px 10px !important;
  padding: 0 !important;
  border: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* Mobile Menu Link */
#global-nav a,
#global-nav ul a {
  font: inherit !important;
  text-transform: inherit !important;
  background: none !important;
  width: auto !important;
  display: inline !important;
  padding: 0 !important;
  color: #666 !important;
  border: none !important;

  text-shadow: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#global-nav a:hover, 
#global-nav ul a:hover {
  background: none !important;
  color: #000 !important;
}
/* Mobile Child menu */
#global-nav ul {
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* Copyright */
#footer div.copyright {
  text-align: center;
}
/* Powered by & Page Execution Time */
#footer div.site_info {
  text-align: center;
}

}  /* End for Mobile */



/*--------------------------------------
   for Tablet : 520px or more And 900px or less
--------------------------------------*/
@media only screen and (min-width: 520px) and (max-width: 900px) {

/*--------------------------------------
  Header Container for Tablet
--------------------------------------*/
#header div#header-content {
  width: 100%;
  margin-bottom: 55px;
}
#header div#header-content hgroup {
  margin-bottom: 10px;
}
#header div#header-content h1.site_name a {
  color: #5e5e5e;
}
/*  Site Name */
#header h1.site_name {
  margin: 8px 0 4px 0;
  color: #5e5e5e;
  text-align: left;
}
/* Slogan */
#header p.site_slogan {
  color: #5e5e5e;
  text-align: left;
  font-size: 12px;
  margin: 0 5px 10px 5px;
}
/* Welcome Message */
#header p.welcome_msg {
  width: 30%;
  min-width: 170px;
  color: #5e5e5e;
  text-align: left;
}

/*--------------------------------------
  Gloval Navigation Container for Tablet
--------------------------------------*/
#navigation {
  top: 80px;
  width: 100%;
  background: #5e5e5e; /* Old browsers */
  background: -moz-linear-gradient(top, #8a8a8a 0%, #707070 49%, #5e5e5e 51%, #777777 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(49%,#707070), color-stop(51%,#5e5e5e), color-stop(100%,#777777)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Chrome10+,Safari5.1+, iOS 5+ */
  background: -o-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Opera11.10-12.00 */
  background: -ms-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* IE10+ */
  background: linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* W3C */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
}
/*  Navigation Menu List for Tablet */
/*   top level */
#navigation ul {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
}

/*  Navigation Menu(top level) */
#navigation ul li.menuitem {
  float: {left};
  display: block;
}

#navigation ul li.menuitem a {
/*  float: {left};*/
  display: block;
  height: 2.3em;
  line-height: 2.2em;
  padding: 0 0.8em;
/*  border-{left}: 1px dotted #939490;*/
  text-decoration: none;
  color: #fafafa;
  font-size: 13px;
  border-right:1px solid #5d5d5d;
  border-left:1px solid #929292;
  border-bottom:1px solid #575757;
  border-top:1px solid #797979;
}

#navigation ul li.menuitem a:hover {
/*  background: #ededeb url('./images/css/menu_bg_active.png') repeat-x 0 0;*/
/*  text-decoration: underline;*/
  text-decoration: none;
}
#navigation ul li.menuitem:first-child a {
  border-left: medium none;
}


/*  Navigation Menu(Last) */
#navigation ul li.last {
}

#navigation ul li.last a {
  padding-{right}: 1em;
  border-right: medium none;
}

#navigation ul li.last a:hover {
}


}  /* End for Tablet */

/*--------------------------------------
   for Tablet & other : 520px or more
--------------------------------------*/
@media only screen and (min-width: 520px) {
/* Tablet&PC Searchbox & Menu is visible */
#searchform,
#global-nav {
  display: block !important;
}
/* Tablet&PC Menu Selected */
#navigation li a.selected {
  background: #444;
}

#navigation li:hover {
  position: relative;
  z-index: 100;
}
/* Tablet&PC Child menu */
#navigation li ul {
  display: none;
}
#navigation li:hover > ul {
  position: absolute;
  border: solid 1px #ccc;
  z-index: 200;
  display: block;
  margin: 0;
  padding: 10px 0;
  background: #fff !important;
  border: solid 1px #ccc !important;

  -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 1px 2px 0 rgba(0,0,0,.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#navigation li:hover > ul:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #fff;
}
/* Tablet&PC Child menu size */
#navigation ul li.menuitem ul a {
  width: 142px;
}
/* Tablet&PC Child menu Link */
#navigation ul li.menuitem ul li a,
#navigation ul li.menuitem ul li a:link,
#navigation ul li.menuitem ul li a:visited {
  border-width: 0px;
  color: #666;
}
#navigation ul li.menuitem ul li a:hover,
#navigation ul li.menuitem ul li a:focus,
#navigation ul li.menuitem ul li a:active {
  background: #f3f3f3;
  color: #000;
  color: black;
}
#navigation ul li.menuitem ul li.last a,
#navigation ul li.menuitem ul li.last a:link,
#navigation ul li.menuitem ul li.last a:visited {
  padding-{right}: 1em;
  border-{right}: none;
}
/* Tablet&PC Grandson menu */
#navigation ul ul li.last > a,
#navigation ul ul li:last-child > a {
  border-bottom: 0px;
}
#navigation > ul > li.last > a,
#navigation > ul > li.last > a:link,
#navigation > ul > li.last > a:visited {
/*  border-right: 1px dotted #939490;*/
}
#navigation > ul > li:last-child > a,
#navigation > ul > li:last-child > a:link,
#navigation > ul > li:last-child > a:visited {
/*  border-right: 1px dotted #939490;*/
}
#navigation > ul > li.menuitem ul li.menuitem a,
#navigation > ul > li.menuitem ul li.menuitem a:link,
#navigation > ul > li.menuitem ul li.menuitem a:visited {
  border-left: 0px;
}
#navigation li:hover > ul li:hover ul {
  top: -1px;
  left: 150px;
}

}


/*--------------------------------------
   for Normal : 901px or more 
--------------------------------------*/
@media only screen and (min-width: 901px) {

/*--------------------------------------
  Header Container for Normal
--------------------------------------*/
#header {
  position: relative;
  background: #5e5e5e; /* Old browsers */
  background: -moz-linear-gradient(top, #8a8a8a 0%, #707070 49%, #5e5e5e 51%, #777777 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(49%,#707070), color-stop(51%,#5e5e5e), color-stop(100%,#777777)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Chrome10+,Safari5.1+, iOS 5+ */
  background: -o-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Opera11.10-12.00 */
  background: -ms-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* IE10+ */
  background: linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* W3C */
  -pie-background: linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

/*
  border: 1px solid #656663;
  background: transparent url('./images/css/bg_header.png') repeat-x 0 0;
  background-color: #585858;
*/
  margin-bottom: 20px;

/*  background-image: -moz-linear-gradient(center top, #585858, #3d3d3d);*/
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;


  behavior: url(/layout/winkey12/css/PIE.htc);
/*
  -webkit-box-shadow: 0px 0px 2px 1px #888;
  -moz-box-shadow: 0px 0px 2px 1px #888;
  box-shadow: 0px 0px 2px 1px #888; 
*/
}

#header div#header-content {
  width: 100%;
}

/* Slogan */
#header p.site_slogan {
  width: 60.5749%;
  max-width: 590px;
  text-align: center;
}

/*--------------------------------------
  Gloval Navigation Container for Normal
--------------------------------------*/

/*  Navigation Menu List for Normal */
/*   top lebel */
#navigation ul {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
}

/*  Navigation Menu(top level) */
#navigation ul li.menuitem {
  float: {left};
  display: block;
}
#navigation ul li.menuitem a {
/*  float: {left};*/
  display: block;
  height: 2.3em;
  line-height: 2.2em;
  padding: 0 0.8em;
/*  border-{left}: 1px dotted #939490;*/
  text-decoration: none;
  color: #fafafa;
  font-size: 13px;
  border-right:1px solid #5d5d5d;
  border-left:1px solid #929292;
}
#navigation ul li.menuitem a:hover {
/*  background: #ededeb url('./images/css/menu_bg_active.png') repeat-x 0 0;*/
  background: #666;
  color: #fff;
  color: white;
/*  text-decoration: underline;*/
  text-decoration: none;
}
#navigation ul li.menuitem:first-child a {
  border-left: medium none;
}

/*  Navigation Menu(Last) */
#navigation ul li.last {
}

#navigation ul li.last a {
  padding-{right}: 1em;
/*  border-{right}: 1px dotted #939490;*/
  border-right: medium none;
}

#navigation ul li.last a:hover {
}




/*--------------------------------------
   Left Block Container for Normal
   display if Left Block is appeared.
--------------------------------------*/

div#container div#wrapper div#leftblocks {
  overflow: auto;
  float: {right};
  width: 32.4795%;  /* Left Block Width[L] */
  max-width: 317px;  /*  Left Block Width[R] */
  margin-{left}: 1.4344%;  /*  Left Margin = -( Right Block Width[R]) */
  padding: 0;
}

/* JavaScript Disenabled  Left Block Container */
body.js_off div#container div#wrapper div#leftblocks {
  float: {right};
  margin: 0;
}

/*--------------------------------------
   Center Block Container for Normal
    div#centerblocks is always display.
--------------------------------------*/

/* JavaScript Enabled* 3 Column ( Left Block*  Center Block*  Right Block)  Center Block Container */
body.left-center-right div#container div#wrapper div#centerblocks {
  float: {left};
  width: 65.8811%;
  max-width: 643px;  /* Center Block Width = Site All Width[W] - Left Block Width[L] - Left Padding - Yobi */
}

/* JavaScript Enabled* 2 Column ( Left Block*  Center Block)  Center Block Container */
body.left-center div#container div#wrapper div#centerblocks {
  float: {left};
  width: 65.8811%;
  max-width: 643px;  /* Center Block Width = Site All Width[W] - Left Block Width[L] - Left Padding - Yobi */
}

/* JavaScript Disenabled  Center Block Container */
body.js_off div#container div#wrapper div#centerblocks {
  display: inline;  /* Win IE 6(Float Left Right Margin is too wide) */
  float: {left};
  width: 65.8811%;
  max-width: 643px;  /* Center Block Width = Site All Width[W] - Left Block Width[L] - Left Padding - Yobi */
}


/*--------------------------------------
   Footer Container for Normal
--------------------------------------*/
/* Copyright */
#footer div.copyright {
  float: {left};
  margin: 5px 0 10px;
}
#footer div.copyright_notice address {
  font-style: normal;
}

/* Powered by & Page Execution Time */
#footer div.site_info {
  float: {right};
  text-align: {right};
  margin: 5px 0 10px;
}



}  /* End for Normal */
