/*==============================================================================
  Title       : Story Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Story style.
  Apply       : storytext.thtml, storybodytext.thtml
                featuredstorytext.thtml, featuredstorybodytext.thtml
                archivestorytext.thtml, archivestorybodytext
==============================================================================*/



/*--------------------------------------
  Story
--------------------------------------*/

/* Container */
div#centerblocks .storytext {
  margin: 0 0 15px 0;
  padding: 15px;
  /* border: 1px solid #ddd; */
}

/* Story Title */
div#centerblocks .storytext h1.story_title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
}

/* Icon(email to friends, print, pdf) */
div#centerblocks .storytext ul.icon {
  list-style-type: none;
  float: {right};
  margin: 0;
  padding: 0;
  text-align: {right};
}

div#centerblocks .storytext ul.icon li{
  display: inline;
  margin: 0;
  padding: 0;
}

/* Story(Date, Auther, Display no.) */
div#centerblocks .storytext div.status {
  color: #989898;
  font-size: 11px;
  padding: 0 0 10px;
}

/* Story Body */
div#centerblocks .storytext div.story_introtext {
  margin: 0;
  padding: 0;
}
/* Story Image */
div#centerblocks .storytext div.story_introtext img {
  max-width:100%;
  height:auto;
}

/* Topic Icon */
div#centerblocks .storytext span.story_image {
  float: {right};
  width: 48px;
  height: 48px;
  margin: -8px 0 0;
  padding: 0;
}

/* Navigation */
div#centerblocks .storytext div.navi {
  clear: both;
  font-size: 11px;
  margin: 0 0 10px 0;
  padding: 0;
}

/* Comment and Trackback */
div#centerblocks .storytext div.feedback {
  font-size: 11px;
  margin: 0;
  padding: 3px 0 0 0;
}



/*--------------------------------------
  Featured Story
--------------------------------------*/

/* Container */
div#centerblocks .featuredstorytext {
  margin: 0 0 15px 0;
  padding: 15px;
  /* border: 1px solid #ddd; */
}

/* Story Title */
div#centerblocks .featuredstorytext h1.story_title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
}

/* Icon(email to friends, print, pdf) */
div#centerblocks .featuredstorytext ul.icon {
  list-style-type: none;
  float: {right};
  margin: 0;
  padding: 0;
  text-align: {right};
}

div#centerblocks .featuredstorytext ul.icon li{
  display: inline;
  margin: 0;
  padding: 0;
}

/* Story(Date, Auther, Display no.) */
div#centerblocks .featuredstorytext div.status {
  color: #989898;
  font-size: 11px;
  padding: 0 0 10px;
}

/* Story Body */
div#centerblocks .featuredstorytext div.story_introtext {
  margin: 0;
  padding: 0;
}
/* Story Image */
div#centerblocks .featuredstorytext div.story_introtext img {
  max-width:100%;
  height:auto;
}

/* Topic Icon */
div#centerblocks .featuredstorytext span.story_image {
  float: {right};
  width: 48px;
  height: 48px;
  margin: -8px 0 0;
  padding: 0;
}

/* Navigation */
div#centerblocks .featuredstorytext div.navi {
  font-size: 11px;
  margin: 0 0 10px 0;
  padding: 0;
}

/* Comment and Trackback */
div#centerblocks .featuredstorytext div.feedback {
  font-size: 11px;
  margin: 0;
  padding: 3px 0 0 0;
}



/*--------------------------------------
  Archive Story
--------------------------------------*/

/* Container */
div#centerblocks .archivestorytext {
  margin: 0 0 15px 0;
  padding: 15px;
  /* border: 1px solid #ddd; */
}

/* Story Title */
div#centerblocks .archivestorytext h1.story_title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
}

/* Icon(email to friends, print, pdf) */
div#centerblocks .archivestorytext ul.icon {
  list-style-type: none;
  float: {right};
  margin: 0;
  padding: 0;
  text-align: {right};
}

div#centerblocks .archivestorytext ul.icon li{
  display: inline;
  margin: 0;
  padding: 0;
}

/* Story(Date, Auther, Display no.) */
div#centerblocks .archivestorytext div.status {
  color: #989898;
  font-size: 11px;
  padding: 0 0 10px;
}

/* Story Body */
div#centerblocks .archivestorytext div.story_introtext {
  margin: 0;
  padding: 0;
}
/* Story Image */
div#centerblocks .archivestorytext div.story_introtext img {
  max-width:100%;
  height:auto;
}

/* Topic Icon */
div#centerblocks .archivestorytext span.story_image {
  float: {right};
  width: 48px;
  height: 48px;
  margin: -8px 0 0;
  padding: 0;
}

/* Navigation */
div#centerblocks .archivestorytext div.navi {
  font-size: 11px;
  margin: 0 0 10px 0;
  padding: 0;
}

/* Comment and Trackback */
div#centerblocks .archivestorytext div.feedback {
  font-size: 11px;
  margin: 0;
  padding: 3px 0 0 0;
}

/* Set font size for h2, h3, h4, h5, h6 */
div.story_introtext h2 {
  font-size: 116.7%; /* 14px */
}
div.story_introtext h3 {
  font-size: 108.4%; /* 13px */
}
div.story_introtext h4,
div.story_introtext h5,
div.story_introtext h6 {
  font-size: 100%; /* 12px */
}

div.story_introtext hr,
div.story_introtext h1, div.story_introtext h2,
div.story_introtext h3, div.story_introtext h4,
div.story_introtext h5, div.story_introtext h6 {
  clear:both;
}
