html {font-size:14px;}

.uk-navbar-dropdown {background: rgba(255,255,255,0.9); }
.uk-navbar-dropdown-nav>li.uk-active.gl-active>a{color:#fff}

.admin-list-table th,
.admin-list-table td {
  vertical-align: middle;
  height: 24px;
  padding: 4px 8px;
	font-size: 12px;
}

nav.uk-navbar.gl-navbar-small li a {
	height: 30px;
	color: white;
	line-height: 1em;
	margin: 3px 3px;
}
nav.uk-navbar.gl-navbar-small li  {
	border-radius: 25px;
	margin-left:3px;
	padding: 0;
}


fieldset {
	border: none;
}

#footer {
  border: none;
  color: #ccc;
  background-color: #000;
}

#admin-topmenu {
	border: none;
}

div.gl-search img,
tr.gl-search img {
max-width:130px; height:auto;
}

.uk-icon-button {
	padding: 8px;
}

.uk-label {
    display: inline-block;
    padding: 0 10px;
    background: #1e87f0;
    line-height: 1.5;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
}
