@charset "utf-8";

/* ゴシック */
body,h1,h2,h3,h4,h5,p,ul,li,p,div,table {
font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

/* 明朝
body,h1,h2,h3,h4,h5,p,ul,li,p,div,table {
	font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro",  "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", Georgia, serif;
} */

.uk-navbar-nav > li.li-navlist.uk-active > a {
  background-color: #f8f8f8;
}

h1.gl-sitename {
		padding:0;
    width: 134px;
    height: 50px;
    background: url(../images/logo.png) no-repeat;
    overflow: hidden;
    text-indent: 220%;
    white-space: nowrap;
		cursor: pointer;
}

.gl-frontpage h1.gl-sitename {
		padding:0;
    width: 134px;
    height: 50px;
    background: url(../images/logo-white.png) no-repeat;
    overflow: hidden;
    text-indent: 220%;
    white-space: nowrap;
		cursor: pointer;
}

.uk-overlay.gl-overlay {
	  padding: 0!important;
}

.gl-frontpage .uk-navbar-nav>li.uk-active>a {
		color: #eee;

}

div.uk-sticky.uk-sticky-fixed.uk-sticky-below {
  background-color: rgba(255,255,255,0.5);
}

.gl-frontpage div.uk-sticky.uk-sticky-fixed.uk-sticky-below h1.gl-sitename {
    background: url(../images/logo.png) no-repeat;
}

.gl-frontpage div.uk-sticky.uk-sticky-fixed.uk-sticky-below .uk-navbar-nav>li.uk-active>a {
	color: #444;
}

[class*='uk-navbar-dropdown-bottom'] {
   margin-top: -10px;
}

.uk-offcanvas-bar {
  width: 100%;
}