html {font-size:14px;}

.uk-navbar-dropdown-nav>li.uk-active.gl-active>a{color:#fff}

.admin-list-table th,
.admin-list-table td {
  vertical-align: middle;
  height: 24px;
  padding: 4px 8px;
	font-size: 12px;
}

nav.uk-navbar.gl-navbar-small li a {
	height: 30px;
	color: white;
	line-height: 1em;
	margin: 3px 3px;
}
nav.uk-navbar.gl-navbar-small li  {
	border-radius: 25px;
	margin-left:3px;
	padding: 0;
}


fieldset {
	border: none;
}

.uk-navbar-dropdown{opacity: 0.6; }

  #footer {
    border: none;
    color: #ccc;
    background-color: #000;
  }
