/*--------------------------------------
 CSS (FormMail Static Page v2.1.6)
---------------------------------------*/
#FORM { font-size:100%; width:98%; }
#FORM #tabs { border: none; }
#FORM p.honbun { margin-bottom:6px; text-align:left; }
.errormsg{ padding:2px 3px 3px 3px; font-size:109%; color: #FF0000; line-height:130%; font-weight:bold; word-break:normal; }
.errorList{ background-color: #FFFFFF; padding: 2px 3px 3px 3px; font-size: 100%; line-height: 120%; color: #FF0000; padding-left: 25px; margin-bottom: 5px; word-break:normal; }
.error2{ background-color:#FFEFEF; border:1px #FF0000 solid; padding:1px 4px 1px 4px; font-size:12px; line-height:130%; margin:3px; word-break:normal; }
#form_step {width:100%;}
#form_step ul, #form_step li { margin:0; padding:0; list-style:none; }
#form_step li { float:left; display:block; position:relative; width:27%; height:20px; line-height:20px; color:#fff; background: transparent url(images/css/step.png) center right no-repeat; padding:2% 3% 2% 2%; }
#form_step li.on { background: transparent url(images/css/step_on.png) center right no-repeat; }
#form_step .step2, #form_step .step3 { margin-left: -30px; padding-left: 50px; }
#form_step .step1 { z-index: 3; }
#form_step .step2 { z-index: 2; }
#form_step .step3 { z-index: 1; background-position: center left; }
#form_step ul { margin:0; padding:0; }
#form_step ul:after { content:""; display:block; clear:both; height:1px; overflow:hidden; }

.spf_required{ font-size:9px; color:#CC0000; }
.form_free{ font-size:9px; color:#00CC44; }

table.formmail {width:100%;}
table.formmail th { background-color: #f8f8f8; text-align: left; padding:10px; font-weight:bold; font-size:small; word-break:normal; }
table.formmail td { background-color: #f8f8f8; padding:10px; font-size:small; word-break:normal; word-wrap:break-word; }
table.formmail tr.error th,table.formmail tr.error td { background: #F2DEDE; }
table.formmail input[type=text] { min-width:160px; width:50%; }

.idea{ width:98%; background-color:#E6FFE9; border:2px #008000 solid; padding:5px; font-size:11px; line-height:140%; margin-top:12px; }
.bginput { background-color: #FFFEEa; }
.ime_on { ime-mode: active; }
.ime_off { ime-mode: inactive; }
.button1 { background-color: #05959C; color: #fff; font-weight: bold; }
.mb20 { margin-bottom:20px; }
.mt20 { margin-top:20px; }

li.useroption_off {
  padding: 3px 0 3px 15px;
}

.tm-footer {
  background: #666;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 8px 12px;
  border: 1px solid #CCC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.uk-navbar-nav li.uk-parent span.uk-parent {
      line-height: 40px;
      color: #666;
}

div.social {
  clear: both;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #efefef;
  padding: 0.2em 1em;
  margin: 2em;
  min-height: 9em;
}


ul.socialbtn{
  float:left;
  padding:0;
  margin:0 0 0.7em 2em;
  list-style-type: none;
  display: block;
}
ul.socialbtn li{float:left; width:81px !important; margin:0 0 0 8px !important;}
ul.socialbtn li:first-child{width:65px !important; margin-left:0 !important;} 

ul.socialbtn_right {
  float:right; padding:0; margin:0;
  list-style-type: none;
  display: block;
  padding: 0 6em 0 0;
}
ul.socialbtn_right li{float:left; width:81px !important; margin:0 0 0 8px !important;}
ul.socialbtn_right li:first-child{width:70px !important; margin-left:0 !important;} 
ul.socialbtn_right li.fblike{width:170px}

@media only screen and (max-width: 519px) {

ul.socialbtn {
float: none;
}

ul.socialbtn li:first-child {
width: auto;
}

ul.socialbtn li {
float: none;
margin-bottom: 5px;
width: auto;
}

}


/*
Back to top button 
*/
#back-to-top {background:#ba224b;background:rgba(186,34,75,0.75);box-shadow:0 0 2px 0 rgba(255,255,255,0.2);border-radius:3px;bottom:20px;cursor:pointer;display:block;height:45px;line-height:45px;font-size:16px;position:fixed;right:20px;text-align:center;width:45px;z-index:9999;}#back-to-top:hover {background-color:#147D85;background:rgba(199, 8, 80, 0.75);text-decoration:none;}
#back-to-top i {color:#fff;}


.uk-article-title {
  clear: both;
}
body.left-center div#container div#wrapper div#centerblocks {
  border: none;
}


div#centerblocks div#centerblocks-content div.gm-style img {
  max-width: none;
}

form {display: block; margin: 0;}
.uk-grid {margin-left:0;}
@media (max-width:1220px){.uk-grid{margin-left:0}}

body {
-webkit-font-smoothing: antialiased;
}
