@charset "utf-8";

.ime_on { ime-mode: active; }
.ime_off { ime-mode: inactive; }

li.useroption_off {
  padding: 3px 0 3px 15px;
}

.tm-footer {
  background: #666;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 8px 12px;
  border: 1px solid #CCC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.uk-navbar-nav li.uk-parent span.uk-parent {
      line-height: 40px;
      color: #666;
}



/* Back to top navigation */
#ivm-page-nav{position:fixed;width:auto;top:0;bottom:0;right:30px}

.uk-article-title {
  clear: both;
}
body.left-center div#container div#wrapper div#centerblocks {
  border: none;
}


div#centerblocks div#centerblocks-content div.gm-style img {
  max-width: none;
}

form {display: block; margin: 0;}
.uk-grid {margin-left:0;}

@media (max-width:1220px){.uk-grid{margin-left:0}}

body {-webkit-font-smoothing: antialiased;}





.uk-slidenav-banner {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  width: 60px;
  height: 60px;*/
/*  line-height: 60px;*/
/*  color: rgba(50, 50, 50, 0.4);
  font-size: 60px;
  text-align: center;*/
}
.uk-slidenav-banner:hover,
.uk-slidenav-banner:focus {
  outline: none;
  text-decoration: none;
  color: rgba(50, 50, 50, 0.7);
  cursor: pointer;
}
.uk-slidenav-banner:active {
  color: rgba(50, 50, 50, 0.9);
}
.uk-slidenav-position .uk-slidenav-banner {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 0;
}
.uk-slidenav-position:hover .uk-slidenav-banner {
  display: block;
}

.uk-slidenav-next-banner {
  width:100%;
  height:100%;
  opacity: .7;
  background:#29426A;
}



.side-corner-tag {
position: relative;
color: #fff;
display: inline-block;
padding: 5px;
overflow: hidden;
font-family: Arial, sans-serif;
font-weight: 900;
}
.side-corner-tag p {
display: inline;
}
.side-corner-tag p span {
position: absolute;
display: inline-block;
right: -25px;
width: 100px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
text-align: center;
text-transform: uppercase;
top: 22px;
background: #d93131;
width: 100px;
padding: 3px 10px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
}





.banner-tag {
position: relative;
color: #fff;
padding: 0;
overflow: hidden;
font-weight: 900;
}
.banner-tag p {
display: inline;
}
.banner-tag p span {
position: absolute;
display: inline-block;
box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
text-align: center;
text-transform: uppercase;
bottom: 0;
width:100%;
background: #d93131;
padding: 3px 10px;
}



h2.uk-h2.gl-slider {
  font-size:40px;
  margin-top:200px
}
div.gl-slider {
  margin-top:20px;
}

h2.gl-h2-main {
  font-size: 24px;
}

@media (max-width:959px) {
	h2.gl-h2-main {
	  font-size: 20px;
	}
}

@media (max-width:767px) {
	h2.gl-h2-main {
	  font-size: 18px;
	}
}
@media (max-width:480px) {
	h2.uk-h2.gl-slider {
	  font-size:18px;
	}
	div.gl-slider {
	  margin-bottom:20px;
	}
	h2.gl-h2-main {
	  font-size: 14px;
	}
}

/* Scroll navigation */
#ivm-page-nav{position:fixed;width:auto;top:0;bottom:0;right:15px;width:20px; }
@media (max-width:480px) {
	#ivm-page-nav{
		right:5px;
	}
}

form.uk-form dl dt,
form.uk-form dl dd{
  margin-top: 8px;
}


#leftblocks  .uk-description-list-horizontal > dt {
    width: 100%;
    float: none;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
#leftblocks    .uk-description-list-horizontal > dd {
    margin-left: 0;
  }
